name: Publish Extension

on:
  push:
    branches:
      - release

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install vsce
        run: npm install -g @vscode/vsce

      - name: Package extension
        run: echo "y" | vsce package --no-yarn --allow-missing-repository --baseContentUrl https://github.com/sky-dot-net/CodeAtlas/raw/main/ --baseImagesUrl https://github.com/sky-dot-net/CodeAtlas/raw/main/

      - name: Publish to marketplace
        run: echo "y" | vsce publish --no-yarn -p ${{ secrets.VSCE_TOKEN }} --allow-missing-repository --baseContentUrl https://github.com/sky-dot-net/CodeAtlas/raw/main/ --baseImagesUrl https://github.com/sky-dot-net/CodeAtlas/raw/main/
        env:
          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
